<template>
    <div class="dveditor">
        <ul v-if="hasplain" class="nav nav-tabs">
            <li class="nav-item">
                <div class="nav-link" :class="{'active': !showPlain}" @click="hidePlain">Editor</div>
            </li>
            <li class="nav-item">
                <div class="nav-link" :class="{'active': showPlain}" @click="setPlain">Text</div>
            </li>
        </ul>
        <prism-editor
            v-if="showPlain"
            class="my-plain-editor border"
            v-model="plaincontent"
            language="html"
            :highlight="highlighter"
            :line-numbers="false"
        />
        <div v-else class="tiptap-editor border border-solid-grey">
            <editor-menu-bar :editor="editor" v-slot="{ commands, isActive, getMarkAttrs }">
                <div class="menubar">
                    <div
                        class="menubar__button"
                        :class="{ 'is-active': isActive.bold() }"
                        @click="commands.bold"
                    >
                        <icon name="bold" />
                    </div>

                    <div
                        class="menubar__button"
                        :class="{ 'is-active': isActive.italic() }"
                        @click="commands.italic"
                    >
                        <icon name="italic" />
                    </div>

                    <div
                        class="menubar__button"
                        :class="{ 'is-active': isActive.strike() }"
                        @click="commands.strike"
                    >
                        <icon name="strike" />
                    </div>

                    <div
                        class="menubar__button"
                        :class="{ 'is-active': isActive.underline() }"
                        @click="commands.underline"
                    >
                        <icon name="underline" />
                    </div>

                    <div
                        class="menubar__button"
                        :class="{ 'is-active': isActive.paragraph() }"
                        @click="commands.paragraph"
                    >
                        <icon name="paragraph" />
                    </div>

                    <div
                        class="menubar__button text-button"
                        :class="{ 'is-active': isActive.heading({ level: 2 }) }"
                        @click="commands.heading({ level: 2 })"
                    >
                        <div class="button-text">H2</div>
                    </div>

                    <div
                        class="menubar__button text-button"
                        :class="{ 'is-active': isActive.heading({ level: 3 }) }"
                        @click="commands.heading({ level: 3 })"
                    >
                        <div class="button-text">H3</div>
                    </div>

                    <div
                        class="menubar__button text-button"
                        :class="{ 'is-active': isActive.heading({ level: 4 }) }"
                        @click="commands.heading({ level: 4 })"
                    >
                        <div class="button-text">H4</div>
                    </div>

                    <div
                        class="menubar__button"
                        :class="{ 'is-active': isActive.bullet_list() }"
                        @click="commands.bullet_list"
                    >
                        <icon name="ul" />
                    </div>

                    <div
                        class="menubar__button"
                        :class="{ 'is-active': isActive.ordered_list() }"
                        @click="commands.ordered_list"
                    >
                        <icon name="ol" />
                    </div>

                    <div
                        class="menubar__button"
                        @click="commands.horizontal_rule"
                    >
                        <icon name="hr" />
                    </div>

                    <div
                        class="menubar__button"
                        @click="showLinkMenu(getMarkAttrs('link'))"
                        :class="{ 'is-active': isActive.link() }"
                    >
                        <icon name="link" />
                    </div>
                    <div class="link__menu d-flex p-1" v-if="linkMenuIsActive">
                        <input class="form-control" type="text" v-model="linkUrl" placeholder="https://" ref="linkInput" @keydown.esc="hideLinkMenu"/>
                        <div @click="clearLink" class="ml-1 btn btn-sm btn-danger link-button">Clear</div>
                        <div class="btn btn-sm btn-success ml-1 link-button" @click="setLinkUrl(commands.link, linkUrl)">Save</div>
                        <div class="btn btn-sm btn-default ml-1 link-button" @click="hideLinkMenu">Close</div>
                    </div>
                </div>
            </editor-menu-bar>
            <editor-content :editor="editor"/>
        </div>
        <textarea class="hidden d-none" :name="name">{{ content }}</textarea>
    </div>
</template>

<script>
import {PrismEditor} from 'vue-prism-editor'
import "vue-prism-editor/dist/prismeditor.min.css"; // import the styles somewhere
import {Editor, EditorContent, EditorMenuBar, Mark} from 'tiptap'
import Icon from "./Icon";

import {
    Heading,
    HorizontalRule,
    OrderedList,
    BulletList,
    ListItem,
    Bold,
    Italic,
    Link,
    Strike,
    Underline,
    HardBreak,
} from 'tiptap-extensions'
// import highlighting library (you can use any library you want just return html string)
import { highlight, languages } from "prismjs/components/prism-core";
import "prismjs/components/prism-clike";
import "prismjs/components/prism-javascript";
import "prismjs/themes/prism-tomorrow.css"; // import syntax highlighting styles
import "prismjs";
import "prismjs/themes/prism.css";

export default {
    name: "DVEditor",
    components: {
        PrismEditor,
        EditorContent,
        EditorMenuBar,
        Icon
    },
    props: {
        name: {
            type: String,
            required: true
        },
        html: {
            type: String,
            default: '',
        },
        hasplain: {
            type: Boolean,
            default: false
        },
    },
    data: () => ({
        editor: null,
        plaincontent: '',
        showPlain: false,
        linkUrl: null,
        linkMenuIsActive: false,
    }),
    mounted() {
        this.editor = new Editor({
            extensions: [
                new Heading({ levels: [3, 4] }),
                new Bold(),
                new Italic(),
                new Underline(),
                new Strike(),
                new Link({
                    openOnClick: false
                }),
                new OrderedList(),
                new BulletList(),
                new ListItem(),
                new HorizontalRule(),
                new HardBreak(),
            ],
            content: this.html,
        })
    },
    computed: {
        content() {
            if (this.editor)
                return this.editor.getHTML();
        }
    },
    beforeDestroy() {
        this.editor.destroy()
    },
    methods: {
        highlighter(code) {
            return highlight(code, languages.js); //returns html
        },
        hidePlain() {
            if (this.showPlain) {
                this.editor.setContent(this.plaincontent, false, {preserveWhitespace: 'full'});
                this.showPlain = ! this.showPlain;
            }
        },
        setPlain() {
            if (!this.showPlain) {
                this.plaincontent = this.editor.getHTML();
                this.showPlain = ! this.showPlain;
            }
        },
        showLinkMenu(attrs) {
            if (this.isSelectionEmpty()) {
                return;
            }
            this.linkUrl = attrs.href
            this.linkMenuIsActive = true
            this.$nextTick(() => {
                this.$refs.linkInput.focus()
            })
        },
        hideLinkMenu() {
            this.linkUrl = null;
            this.linkMenuIsActive = false
        },
        clearLink() {
            this.linkUrl = null;
        },
        setLinkUrl(command, url) {
            command({ href: url })
            this.hideLinkMenu()
        },
        isSelectionEmpty() {
            const { view } = this.editor;
            const { selection } = view.state;
            return selection.empty;
        }
    }
}
</script>

<style lang="scss" scoped>
@import "../tiptap/sass/variables";
@import "../tiptap/sass/main";
</style>

<style lang="scss">

.dveditor {
    .ProseMirror {
        padding: .5rem;

        ul, ol {
            padding-left: 20px;
            margin-top: 10px;
        }

        a {
            color: #0062cc;
        }

        h3 {
            font-size: 1.25em;
        }

        h4 {
            font-size: 1em;
            font-weight: bold;
            line-height: 1.5em;
            margin-bottom: 2px;
        }

        p {
            margin-top: 0;
        }
    }

    .link__menu {
        background-color: #eee;

        .link-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }

    li.nav-item {
        .nav-link {
            padding: .05rem 1rem;
        }
    }

    ul.nav {
        margin-bottom: -1px;
        justify-content: flex-end;
    }
}
</style>
