<script>
import {Editor, EditorContent} from '@tiptap/vue-3'
import StarterKit from '@tiptap/starter-kit'
import Link from '@tiptap/extension-link'
import {Youtube} from "@tiptap/extension-youtube";
import Icon from './components/Icon'
import {PrismEditor} from 'vue-prism-editor';
import "vue-prism-editor/dist/prismeditor.min.css";
import {highlight, languages} from 'prismjs/components/prism-core';
import "prismjs/components/prism-clike";
import "prismjs/components/prism-javascript";
import 'prismjs/themes/prism.css';
import Multiselect from "vue-multiselect";
import DModal from "./components/DModal.vue";

export default {
  name: 'HtmlEditor',
  components: {
    DModal,
    EditorContent, Icon, PrismEditor, Multiselect
  },
  props: {
    name: {
      type: String,
      required: true
    },
    html: {
      type: String,
      default: '',
    },
    hasplain: {
      type: Boolean,
      default: false
    },
  },
  data: () => ({
    targets: ['_self', '_blank'],
    editor: null,
    plaincontent: '',
    showPlain: false,
    linkUrl: null,
    linkTarget: "_blank",
    linkRel: "noopener noreferrer",
    linkMenuIsActive: false,
    text: ""
  }),
  computed: {
    content() {
      return this.text
    },
    modalId() {
      return this.name + 'Modal'
    }
  },
  onBeforeMount() {
  },
  mounted() {
    this.text = this.html
    this.editor = new Editor({
      content: this.text,
      extensions: [
        StarterKit,
        Link.configure({
          openOnClick: false,
          defaultProtocol: 'https',
        }),
        Youtube.configure({
          controls: true,
          nocookie: true
        })
      ],
      onUpdate: () => {
        this.text = this.editor.getHTML()
      },
    })
  },

  beforeUnmount() {
    this.editor.destroy()
  },

  watch: {
    text(value) {
      if (this.editor.getHTML() === value) {
        return
      }

      this.editor.commands.setContent(value, false)
    },
  },

  methods: {
    openLinkMenu() {
      if (this.isSelectionEmpty()) {
        return;
      }
      this.linkUrl = this.editor.getAttributes('link').href
      this.linkTarget = this.editor.getAttributes('link').target ?? '_blank'
      this.linkRel = this.editor.getAttributes('link').rel ?? ''
      this.linkMenuIsActive = true
    },
    isSelectionEmpty() {
      const {view} = this.editor;
      const {selection} = view.state;
      return selection.empty;
    },
    hideLinkMenu() {
      this.linkUrl = null;
      this.linkMenuIsActive = false
    },
    setLink() {
      // cancelled
      if (this.linkUrl === null) {
        this.hideLinkMenu()
        return
      }

      // empty
      if (this.linkUrl === '') {
        this.editor
            .chain()
            .focus()
            .extendMarkRange('link')
            .unsetLink()
            .run()

        this.hideLinkMenu()
        return
      }

      // update link
      this.editor
          .chain()
          .focus()
          .extendMarkRange('link')
          .setLink({href: this.linkUrl, target: this.linkTarget, rel: this.linkRel})
          .run()

      this.hideLinkMenu()
    },
    addVideo() {
      const url = prompt('Enter YouTube URL')

      this.editor.commands.setYoutubeVideo({
        src: url,
        width: Math.max(320, parseInt(this.width, 10)) || 640,
        height: Math.max(180, parseInt(this.height, 10)) || 360
      })
    },
    hidePlain() {
      if (this.showPlain) {
        this.editor.commands.setContent(this.plaincontent, false, {preserveWhitespace: 'full'})
        this.showPlain = !this.showPlain
      }
    },
    setPlain() {
      if (!this.showPlain) {
        this.plaincontent = this.editor.getHTML();
        this.showPlain = !this.showPlain;
      }
    },
    highlighter(code) {
      return highlight(code, languages.js); // languages.<insert language> to return html with markup
    },
  }
}
</script>

<template>
  <div class="editor">
    <ul v-if="hasplain" class="nav nav-tabs">
      <li class="nav-item">
        <div class="nav-link" :class="{'active': !showPlain}" @click="hidePlain">Editor</div>
      </li>
      <li class="nav-item">
        <div class="nav-link" :class="{'active': showPlain}" @click="setPlain">Text</div>
      </li>
    </ul>
    <prism-editor
        v-if="hasplain && showPlain"
        class="my-plain-editor border p-2"
        v-model="plaincontent"
        :highlight="highlighter"
        :line-numbers="false"
    />
    <div v-else-if="editor" class="tiptap-editor border border-solid-grey">
      <div class="menu-bar">
        <div class="btn-group mr-2 my-1">
          <div class="btn btn-sm btn-outline-secondary" @click="editor.chain().focus().toggleBold().run()"
               :disabled="!editor.can().chain().focus().toggleBold().run()"
               :class="{ 'active': editor.isActive('bold') }">
            <icon type="bold"/>
          </div>
          <div class="btn btn-sm btn-outline-secondary" @click="editor.chain().focus().toggleItalic().run()"
               :disabled="!editor.can().chain().focus().toggleItalic().run()"
               :class="{ 'active': editor.isActive('italic') }">
            <icon type="italic"/>
          </div>
          <div class="btn btn-sm btn-outline-secondary" @click="editor.chain().focus().toggleStrike().run()"
               :disabled="!editor.can().chain().focus().toggleStrike().run()"
               :class="{ 'active': editor.isActive('strike') }">
            <icon type="strike"/>
          </div>
          <div class="btn btn-sm btn-outline-secondary" @click="editor.chain().focus().unsetAllMarks().run()">
            <icon type="clear"/>
          </div>
        </div>
        <div class="btn-group mr-2 my-1">
          <div class="btn btn-sm btn-outline-secondary" @click="editor.chain().focus().setParagraph().run()"
               :class="{ 'active': editor.isActive('paragraph') }">
            <icon type="paragraph"/>
          </div>
          <div class="btn btn-sm btn-outline-secondary"
               @click="editor.chain().focus().toggleHeading({ level: 2 }).run()"
               :class="{ 'active': editor.isActive('heading', { level: 2 }) }">
            H2
          </div>
          <div class="btn btn-sm btn-outline-secondary"
               @click="editor.chain().focus().toggleHeading({ level: 3 }).run()"
               :class="{ 'active': editor.isActive('heading', { level: 3 }) }">
            H3
          </div>
          <div class="btn btn-sm btn-outline-secondary"
               @click="editor.chain().focus().toggleHeading({ level: 4 }).run()"
               :class="{ 'active': editor.isActive('heading', { level: 4 }) }">
            H4
          </div>
        </div>
        <div class="btn-group mr-2 my-1">
          <div class="btn btn-sm btn-outline-secondary"
               @click="editor.chain().focus().toggleBulletList().run()"
               :class="{ 'active': editor.isActive('bulletList') }">
            <icon type="ul"/>
          </div>
          <div class="btn btn-sm btn-outline-secondary"
               @click="editor.chain().focus().toggleOrderedList().run()"
               :class="{ 'active': editor.isActive('orderedList') }">
            <icon type="ol"></icon>
          </div>
          <div class="btn btn-sm btn-outline-secondary"
               @click="editor.chain().focus().setHorizontalRule().run()">
            <icon type="ruler"/>
          </div>
          <div class="btn btn-sm btn-outline-secondary" @click="editor.chain().focus().undo().run()"
               :disabled="!editor.can().chain().focus().undo().run()">
            <icon type="undo"></icon>
          </div>
          <div class="btn btn-sm btn-outline-secondary" @click="editor.chain().focus().redo().run()"
               :disabled="!editor.can().chain().focus().redo().run()">
            <icon type="redo"></icon>
          </div>
        </div>
        <div class="btn-group mr-2 my-1">
          <div class="btn btn-sm btn-outline-secondary" @click="openLinkMenu"
               :class="{'active': linkMenuIsActive}">
            <icon type="link"/>
          </div>
          <div class="btn btn-sm btn-outline-secondary" @click="editor.chain().focus().unsetLink().run()">
            <icon type="unlink"/>
          </div>
          <div class="btn btn-sm btn-outline-secondary" @click="addVideo">
            <icon type="video"/>
          </div>
        </div>
      </div>
      <div class="content">
        <editor-content :editor="editor">
        </editor-content>
      </div>
    </div>
    <d-modal :id="modalId" v-show="linkMenuIsActive" @close="hideLinkMenu">
      <template v-slot:header><h5>Stel link in</h5></template>
      <template v-slot:body>
        <div class="link__menu p-1">
          <div class="form-group">
            <label class="label" for="linkInput">Link</label>
            <input class="form-control" id="linkInput" type="text" v-model="linkUrl" placeholder="https://"
                   ref="linkInput"
                   @keydown.esc="hideLinkMenu"/>
          </div>
          <div class="form-group">
            <label class="label" for="target">Doelvenster</label>
            <multiselect :options="targets" id="target" v-model="linkTarget"
                         :multiple="false"></multiselect>
          </div>
          <div class="form-group">
            <label class="label">Rel (optioneel)</label>
            <input type="text" class="form-control" v-model="linkRel">
          </div>
        </div>
      </template>
      <template v-slot:footer>
        <div class="btn-group">
          <div class="btn btn-success link-button" @click="setLink">Save</div>
          <div class="btn btn-secondary link-button" @click="hideLinkMenu">Close</div>
        </div>
      </template>
    </d-modal>
    <textarea class="hidden d-none" :name="name">{{ content }}</textarea>
  </div>
</template>

<style lang="scss" scoped>
.menu-bar {
  background-color: #f7f7f7;
  padding: 0 5px;
  border-bottom: 1px solid #ebebeb;

  .btn:not(:hover):not(.active) {
    background-color: #fff;
  }
}

.editor .content {
  min-height: 60px;
  border: 1px solid #ddd;
  padding: 5px 10px;
}
</style>

<style>
.tiptap:focus-visible {
  outline-width: 0;
}
</style>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>