<template>
    <div class="icon" :class="[`icon--${name}`, `icon--${size}`, { 'has-align-fix': fixAlign }]">
        <img class="icon__svg" :src="getIcon(name)"/>
    </div>
</template>

<script>
export default {
    props: {
        name: {},
        size: {
            default: 'normal',
        },
        modifier: {
            default: null,
        },
        fixAlign: {
            default: true,
        },
    },
    data: () => ({
        link: '/vendor/components/images/link.svg',
        hr: '/vendor/components/images/hr.svg',
        italic: '/vendor/components/images/italic.svg',
        bold: '/vendor/components/images/bold.svg',
        underline: '/vendor/components/images/underline.svg',
        strike: '/vendor/components/images/strike.svg',
        ol: '/vendor/components/images/ol.svg',
        ul: '/vendor/components/images/ul.svg',
        remove: '/vendor/components/images/remove.svg',
        paragraph: '/vendor/components/images/paragraph.svg',
    }),
    methods: {
        getIcon (name) {
            return eval('this.' + name);
        }
    }
}
</script>

<style lang="scss" scoped>
.icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 0.9rem;
    height: 0.9rem;
    margin: .3rem;
    fill: currentColor;

    &__svg {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: 100%;
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

}

// svg sprite
body > svg,
.icon use > svg,
symbol {
    path,
    rect,
    circle,
    g {
        fill: currentColor;
        stroke: none;
    }

    *[d="M0 0h24v24H0z"] {
        display: none;
    }
}
</style>
