<template>
        <div class="modal-backdrop">
            <div :id="id" class="d-modal" :class="`modal-${size}`">
                <div v-if="showHeader" class="modal-header">
                    <slot name="header"></slot>
                    <button
                        v-if="showCloseButton"
                        type="button"
                        class="btn-close"
                        @click="close"
                    >
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <slot name="body"></slot>
                </div>
                <div class="modal-footer">
                    <slot name="footer"></slot>
                </div>
            </div>
        </div>
</template>

<script>
export default {
name: "DModal",
    props: {
        showHeader: {
            type: Boolean,
            default: true,
        },
        id: {
            type: String,
            required: true
        },
        size: {
            type: String,
            default: 'md' // "sm", "md", "lg", "xl"
        },
        showCloseButton: {
            type: Boolean,
            default: true,
        }
    },
    methods: {
        close() {
            this.$emit('close');
        },
    }
}
</script>

<style>
.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-modal {
    background: #FFFFFF;
    box-shadow: 0 0 40px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 90vw;

    &.modal-sm {
        width: 380px;
    }

    &.modal-md {
        width: 500px;
    }

    &.modal-lg {
        width: 800px;
    }

    &.modal-xl {
        width: 1100px;
    }
}

.modal-header,
.modal-footer {
    display: flex;
}

.modal-header {
    position: relative;
    border-bottom: 1px solid #cccccc;
    color: #4AAE9B;
    justify-content: space-between;
}

.modal-footer {
    border-top: 1px solid #ccc;
    justify-content: flex-end;
}

.modal-body {
    position: relative;
    padding: 20px 10px;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
}
</style>
