<script setup>
const props = defineProps({
    type: String
})
</script>

<template>
    <i v-if="type === 'bold'" class="fas fa-bold"></i>
    <i v-else-if="type === 'italic'" class="fas fa-italic"></i>
    <i v-else-if="type === 'strike'" class="fas fa-strikethrough"></i>
    <i v-else-if="type === 'underline'" class="fas fa-underline"></i>
    <i v-else-if="type === 'clear'" class="fas fa-eraser"></i>
    <i v-else-if="type === 'ol'" class="fas fa-list-ol"></i>
    <i v-else-if="type === 'ul'" class="fas fa-list-ul"></i>
    <i v-else-if="type === 'undo'" class="fas fa-undo"></i>
    <i v-else-if="type === 'redo'" class="fas fa-redo"></i>
    <i v-else-if="type === 'ruler'" class="fas fa-window-minimize"></i>
    <i v-else-if="type === 'link'" class="fas fa-link"></i>
    <i v-else-if="type === 'unlink'" class="fas fa-unlink"></i>
    <i v-else-if="type === 'image'" class="fas fa-image"></i>
    <i v-else-if="type === 'video'" class="fas fa-film"></i>
    <i v-else-if="type === 'paragraph'" class="fas fa-paragraph"></i>
</template>
