<template>
    <div class="dv-editor2">
            <textarea
                :id="`summer-${fieldId}`"
                v-model="html"
                class="form-control"
                :readonly="readOnly"
            />
        <textarea class="hidden d-none" :name="name">{{ html }}</textarea>
    </div>
</template>

<script>

export default {
    name: "SummerNote",
    props: {
        name: String,
        value: String,
        config: Object,
        readOnly: {
            type: Boolean,
            default: function () {
                return false;
            }
        },
    },
    data: function() {
        return {
            editor: false,
            html: null
        }
    },
    computed: {
        fieldId() {
            return this.name.replaceAll('[', '-').replaceAll(']', '');
        }
    },
    mounted() {
        this.html = this.value;
        this.editor = $("#summer-"+this.fieldId);
        this.setConfig();
    },
    methods: {
        setConfig() {
            this.editor.summernote(this.config);
            this.setSummernote();
        },
        setSummernote() {
            this.editor.summernote('code', this.html);
            this.setWatcher(this.editor);
        },
        setWatcher(el) {
            el.on('summernote.change', (we, contents) => {
                this.html = contents;
            });
        },
    }
}
</script>

<style scoped>

</style>
